*{

box-sizing:border-box;

margin:0;

padding:0;

}



body{

font-family:var(--texto);

background:var(--cinza);

color:var(--texto);

}




.portal{

display:flex;

min-height:100vh;

}





/* MENU */

.sidebar{

width:260px;

background:
linear-gradient(
180deg,
var(--azul-escuro),
var(--azul-principal)
);

color:white;

padding:30px 20px;

display:flex;

flex-direction:column;

}




.logo-area{

text-align:center;

margin-bottom:40px;

}



.logo{

width:80px;

height:80px;

object-fit:contain;

}



.logo-area h2{

font-family:var(--titulo);

margin-top:15px;

}



.logo-area span{

font-size:14px;

opacity:.8;

}





nav{

flex:1;

}



nav a{

display:flex;

gap:15px;

align-items:center;

padding:15px;

margin-bottom:8px;

color:white;

text-decoration:none;

border-radius:12px;

cursor:pointer;

transition:.3s;

}



nav a:hover,
nav .active{

background:
rgba(255,255,255,.15);

}




footer{

font-size:12px;

text-align:center;

opacity:.7;

}







/* CONTEÚDO */


.content{

flex:1;

padding:40px;

}




header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:35px;

}



header h1{

font-family:var(--titulo);

color:var(--azul-principal);

}



.date{

background:white;

padding:12px 18px;

border-radius:20px;

box-shadow:var(--shadow);

}







/* CARDS */


.cards{

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:20px;

}



.card{

background:white;

padding:25px;

border-radius:var(--radius);

box-shadow:var(--shadow);

}



.card span{

display:block;

color:#777;

}



.card strong{

font-size:35px;

color:var(--azul-principal);

font-family:var(--titulo);

}





/* PAINÉIS */


.dashboard-area{

margin-top:30px;

display:grid;

grid-template-columns:
repeat(2,1fr);

gap:25px;

}



.panel{

background:white;

padding:25px;

border-radius:var(--radius);

box-shadow:var(--shadow);

}



.panel h3{

font-family:var(--titulo);

color:var(--azul-principal);

margin-bottom:20px;

}



.chart-placeholder{

height:250px;

display:flex;

align-items:center;

justify-content:center;

background:#fafafa;

border-radius:12px;

color:#999;

}






@media(max-width:900px){


.sidebar{

display:none;

}


.cards{

grid-template-columns:1fr;

}


.dashboard-area{

grid-template-columns:1fr;

}


header{

flex-direction:column;

gap:20px;

}


}


---
